<!DOCTYPE html>
<html lang="en"> 
<head>
	<title>ICFEST - Tech Conference or Events</title>
	
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="ICFEST - Tech Conference or Events">
	<meta name="author" content="Pratham P Shetty">    
	<link rel="shortcut icon" href="/static/assets/favicon.ico"> 
	
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800|Roboto:300,400,700&display=swap" rel="stylesheet">
	
	<!-- FontAwesome JS-->
	<script defer src="/static/assets/fontawesome/js/all.min.js"></script>

	<!-- Theme CSS -->  
	<link id="theme-style" rel="stylesheet" href="/static/assets/css/theme.css">


</head> 

<body>    
	<header id="header" class="header fixed-top">	    
		<div class="branding">
			<div class="container-fluid">
				<nav class="main-nav navbar navbar-expand-lg">
					<!-- <div class="site-logo"><a class="scrollto" href="#hero-block"><img class="logo-icon" src="/static/assets/images/logo-white.svg" alt="logo"></a></div>     -->
<!-- 					
					<div class="navbar-btn order-lg-2"><a class="btn btn-secondary" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devconf-free-bootstrap-4-conference-template-for-tech-conferences-and-events/" target="_blank">Tickets</a></div> -->
					
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					
					<div id="navigation" class="navbar-collapse collapse  justify-content-lg-end me-lg-3">
						<ul class="nav navbar-nav">
							
							<li class="nav-item"><a class="nav-link scrollto" href="#about-section">About</a></li>                                              
							<li class="nav-item"><a class="nav-link scrollto" href="#speakers-section">Committe</a></li>
							<li class="nav-item"><a class="nav-link scrollto" href="#schedule-section">Schedule</a></li>
							<!-- <li class="nav-item"><a class="nav-link scrollto" href="#tickets-section">Tickets</a></li> -->
							<li class="nav-item"><a class="nav-link scrollto" href="#venue-section">Venue</a></li>
							<li class="nav-item"><a class="nav-link scrollto" href="#sponsors-section">Sponsors</a></li>
						</ul><!--//nav-->
					</div><!--//navabr-collapse-->

				</nav><!--//main-nav-->
				
			</div><!--//container-->
		</div><!--//branding-->
	</header><!--//header-->
	
	<div id="hero-block" class="hero-block">
		<div id="hero-carousel" class="hero-carousel carousel slide carousel-fade" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item-1 carousel-item active">
				</div>
				<div class="carousel-item-2 carousel-item">
				</div>
				<div class="carousel-item-3 carousel-item">
				</div>
			</div>
		</div>
		<div class="hero-block-mask"></div>
		<div class="container">
			<div class="hero-text-block">
				<h1 class="hero-heading mb-2">ICFEST 2025</h1>
				<div class="hero-meta mb-3"><i class="far fa-calendar-alt me-2"></i>30 - 31 May <i class="fas fa-map-marker-alt mx-2"></i>Srinivas College</div>
				<div class="hero-intro mb-4">International Conferences  <br>VLSI, IoT, Embedded Systems, Machine Learning, Cyber security, and Power Systems</div>
				<!-- <div class="hero-cta"><a class="btn btn-primary btn-lg" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devconf-free-bootstrap-4-conference-template-for-tech-conferences-and-events/" target="_blank">Get Tickets</a></div> -->
				
			</div><!--//hero-text-block-->
		</div><!--//container-->

	</div><!--//hero-block-->
	
	<div class="stats-block theme-bg-primary text-white py-4 text-center">
		<div class="container">
			<div class="row">
				<div class="col-6 col-md-3">
					<div class="item">
						<div class="number">2000+</div>
						<div class="unit">Attendees</div>
					</div><!--//item-->
				</div><!--//col-->
				<div class="col-6 col-md-3">
					<div class="item">
						<div class="number">2</div>
						<div class="unit">Days</div>
					</div><!--//item-->
				</div><!--//col-->
				<div class="col-6 col-md-3">
					<div class="item">
						<div class="number">60+</div>
						<div class="unit">Talks</div>
					</div><!--//item-->
				</div><!--//col-->
				<div class="col-6 col-md-3">
					<div class="item">
						<div class="number">2+</div>
						<div class="unit">Workshops</div>
					</div><!--//item-->
				</div><!--//col-->
			</div>
		</div><!--//container-->
	</div><!--//stats-block-->

	<section id="about-section" class="about-section section theme-bg-light">
		<div class="container">
			<h3 class="section-heading text-center mb-3">About ICFEST</h3>
			<div class="section-intro single-col-max mx-auto mb-4">ICFEST-2025 is an international conference focusing on advancements in VLSI, IoT, Embedded Systems, Machine Learning, Cyber security, and Power Systems. It brings together researchers, industry experts, and academicians to exchange ideas and foster collaboration. <strong>The event highlights emerging trends in VLSI design, IoT's transformative role in smart ecosystems, efficient embedded systems intelligent automation with machine learning, and solutions to pressing cyber security challenges. It also explores innovations in sustainable power systems for a greener future.</strong> </div>
			<div class="benefits-list text-center mb-3">
				<h4 class="text-center mb-4">Why Join Us</h4>
				<ul class="list-unstyled text-start d-inline-block">
					<li><i class="fas fa-check-circle me-2"></i>Research & Development</li>
					<li><i class="fas fa-check-circle me-2"></i>Facilities: State-of-the-art labs and highly qualified faculty.</li>
					<li><i class="fas fa-check-circle me-2"></i>Industry Collaboration</li>
					<li><i class="fas fa-check-circle me-2"></i>Student Projects</li>
					<li><i class="fas fa-check-circle me-2"></i>Start-Up</li>
				</ul>
			</div><!--//benefits-list-->
			<div class="event-countdown text-center mb-3">		   
				<h4 class="countdown-intro mb-2 text-center mb-3">Event Starts In:</h4>
				<div id="countdown-box" class="countdown-box"></div>
			</div><!--//event-countdown-->
			<!-- <div class="about-cta text-center mb-5"><a class="btn btn-secondary btn-lg  mb-5" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devconf-free-bootstrap-4-conference-template-for-tech-conferences-and-events/" target="_blank">Get Your Ticket Today</a></div> -->
		</div><!--//container-->

		<div class="media-block theme-bg-primary py-5">
			<div class="container">
				<h4 class="text-white text-center mb-3">About SIT, Mangaluru</h4>
				<div class="section-intro text-center single-col-max mx-auto text-white mb-5">Srinivas Institute of Technology (SIT) is a prominent engineering institution in Mangaluru, established in 2006 under the A. Shama Rao Foundation. It is AICTE-approved, affiliated with Visvesvaraya Technological University (VTU), and A accredited by NAAC. The institute offers a variety of programs on a 15-acre campus located at Valachil, along NH66, approximately 10 km from Mangaluru city. With over 3,000 students, SIT provides 13 undergraduate programs, 5 postgraduate programs, and 6 research centers.</div>
				<div class="row gx-md-5">
					<div class="col-12 col-md-6 mb-3">
						<div class="ratio ratio-16x9">
							
							<iframe src="https://www.youtube.com/embed/567CHWYTNoQ?si=aL7i25SdWJc4TnYO" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div><!--//embed-responsive -->
					</div><!--//col-->
					<div class="col-12 col-md-6 mb-md-5">
						<div class="ratio ratio-16x9">
							<iframe src="https://www.youtube.com/embed/kUdnUzalQ8Q?si=6LUEErNNNU_qF5iR" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div><!--//embed-responsive -->
					</div><!--//col-->
				</div><!--//row-->
			</div><!--//container-->
		</div><!--//media-block-->
	</section><!--//about-section-->
	
	<section id="speakers-section" class="speakers-section section">
		<div class="container">
			<h3 class="section-heading text-center mb-3">Committee</h3>
			<div class="section-intro text-center single-col-max mx-auto mb-5"></div>
			<div class="row justify-content-center">
				<div class="col-6 col-lg-3 mb-4">
					<div class="card rounded-0">
						<a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">
							<img src="/static/assets/image/com.png" class="card-img-top rounded-0" alt="">
						</a>
						<div class="card-body">
							<h5 class="card-title mb-2">Sri. Dr. CA A. Raghavendra Rao</h5>
							<div class="card-text mb-3">
								<div class="meta">President, A. Shama Rao Foundation, Mangaluru<br>Chancellor, Srinivas University, Mangaluru</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-6 col-lg-3 mb-4">
					<div class="card rounded-0">
						<a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">
							<img src="/static/assets/image/image.png" class="card-img-top rounded-0" alt="">
						</a>
						<div class="card-body">
							<h5 class="card-title mb-2">Dr. A. Srinivas Rao</h5>
							<div class="card-text mb-3">
								<div class="meta">Vice President, A. Shama Rao Foundation, Mangaluru<br>Pro-Chancellor, Srinivas University, Mangaluru<br>Patron</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-6 col-lg-3 mb-4">
					<div class="card rounded-0">
						<a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">
							<img src="/static/assets/image/image copy.png" class="card-img-top rounded-0" alt="">
						</a>
						<div class="card-body">
							<h5 class="card-title mb-2">Dr. Shrinivasa Mayya D</h5>
							<div class="card-text mb-3">
								<div class="meta">Principal, Srinivas Institute of Technology, Mangaluru</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<div class="container">
		<hr>
	</div>
	
	<section id="schedule-section" class="schedule-section section">
		<div class="container">
			<h3 class="section-heading text-center mb-5">Schedule</h3>
			
			<!-- Nav tabs -->
			<ul class="schedule-nav nav nav-pills nav-fill" id="myTab" role="tablist">
				<li class="nav-item me-2">
					<a class="nav-link active" id="tab-1" data-bs-toggle="tab" href="#tab-1-content" role="tab" aria-controls="tab-1-content" aria-selected="true">
						<span class="heading">Registration</span>
						<span class="meta"></span>
					</a>
				</li>
				<li class="nav-item me-2">
					<a class="nav-link" id="tab-2" data-bs-toggle="tab" href="#tab-2-content" role="tab" aria-controls="tab-2-content" aria-selected="false">
						<span class="heading">Day 1</span>
						<span class="meta">(Fri 30, May)</span>
					</a>
				</li>
				<li class="nav-item me-2">
					<a class="nav-link" id="tab-2" data-bs-toggle="tab" href="#tab-2-content" role="tab" aria-controls="tab-2-content" aria-selected="false">
						<span class="heading">Day 2</span>
						<span class="meta">(Sat 31, May)</span>
					</a>
				</li>
			
			</ul>
			
			<!-- Tab panes -->
			<div class="schedule-tab-content tab-content">
				<div class="tab-pane active" id="tab-1-content" role="tabpanel" aria-labelledby="tab-1">
					<div class="item item-talk">
						<div class="meta">
							<h4 class="time mb-3">02 April 2025</h4>
						</div><!--//meta-->
						<div class="content">
							<h3 class="title mb-3">Last Date for Full-Length Paper Submission</h3>
							
						</div><!--//content-->
					</div><!--//item-->
					<div class="item item-talk">
						<div class="meta">
							<h4 class="time mb-3">28 April 2025</h4>
						</div><!--//meta-->
						<div class="content">
							<h3 class="title mb-3">Notification of Final Acceptance After Review</h3>
							
						</div><!--//content-->
					</div><!--//item-->
					<div class="item item-talk">
						<div class="meta">
							<h4 class="time mb-3">10 May 2025</h4>
						</div><!--//meta-->
						<div class="content">
							<h3 class="title mb-3">Final Submission of Camera-Ready Paper</h3>
							
						</div><!--//content-->
					</div><!--//item-->
					<div class="item item-talk">
						<div class="meta">
							<h4 class="time mb-3">20 May 2025</h4>
						</div><!--//meta-->
						<div class="content">
							<h3 class="title mb-3">Last Date for Registration</h3>
							
						</div><!--//content-->
					</div><!--//item-->
					<div class="item item-talk">
						<div class="meta">
							<h4 class="time mb-3">30 - 31 May 2025</h4>
						</div><!--//meta-->
						<div class="content">
							<h3 class="title mb-3">Conference Dates</h3>
							
						</div><!--//content-->
					</div><!--//item-->
					<!-- <div class="item item-talk">
						<div class="meta">
							<h4 class="time mb-3">9:30 - 10:00</h4>
							<div class="profile">
								<a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="/static/assets/images/speakers/speaker-2.jpg" alt=""></a>
								<div class="name"><a class="theme-link" href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Sarah Doe</a></div>
							</div>
						</div>
						<div class="content">
							<h3 class="title mb-3">Developer Productivity</h3>
							<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Conference Room A</div>
							<div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
						</div>
					</div>
					<div class="item item-other">
						<div class="meta">
							<h4 class="time mb-3">10:00 - 10:30</h4>
						</div>
						<div class="content">
							<h3 class="title mb-3">Coffee Break</h3>
							<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Room A5</div>
							<div class="desc">Coffee and cakes lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
						</div>
					</div>
					<div class="item item-talk">
						<div class="meta">
							<h4 class="time mb-3">10:30 - 11:00</h4>
							<div class="profile">
								<a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="/static/assets/images/speakers/speaker-3.jpg" alt=""></a>
								<div class="name"><a class="theme-link" href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Tim Doe</a></div>
							</div>
						</div>
						<div class="content">
							<h3 class="title mb-3">Progressive Web Apps with React.js</h3>
							<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Conference Room A</div>
							<div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
						</div>
					</div>
					<div class="item item-talk">
						<div class="meta">
							<h4 class="time mb-3">11:00 - 12:00</h4>
							<div class="profile">
								<a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="/static/assets/images/speakers/speaker-4.jpg" alt=""></a>
								<div class="name"><a class="theme-link" href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Josh Doe</a></div>
							</div>
						</div>
						<div class="content">
							<h3 class="title mb-3">Talk Title Lorem Ipsum</h3>
							<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Conference Room B</div>
							<div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
						</div>
					</div>
					<div class="item item-other">
						<div class="meta">
							<h4 class="time mb-3">12:00 - 13:30</h4>
						</div>
						<div class="content">
							<h3 class="title mb-3">Lunch Break</h3>
							<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Room B6</div>
							<div class="desc">Buffet lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
						</div>
					</div>
					<div class="item item-talk">
						<div class="meta">
							<h4 class="time mb-3">13:30 - 14:30</h4>
							<div class="profile">
								<a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="/static/assets/images/speakers/speaker-5.jpg" alt=""></a>
								<div class="name"><a class="theme-link" href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Ling Doe</a></div>
							</div>
						</div>
						<div class="content">
							<h3 class="title mb-3">Talk Title Lorem Ipsum</h3>
							<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Conference Room C</div>
							<div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
						</div>
					</div>
					<div class="item item-talk">
						<div class="meta">
							<h4 class="time mb-3">14:30 - 15:30</h4>
							<div class="profile">
								<a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="/static/assets/images/speakers/speaker-6.jpg" alt=""></a>
								<div class="name"><a class="theme-link" href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Andy Doe</a></div>
							</div>
						</div>
						<div class="content">
							<h3 class="title mb-3">Talk Title Lorem Ipsum</h3>
							<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Conference Room C</div>
							<div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
						</div>
					</div>
					<div class="item item-talk">
						<div class="meta">
							<h4 class="time mb-3">15:30 - 16:30</h4>
							<div class="profile">
								<a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="/static/assets/images/speakers/speaker-7.jpg" alt=""></a>
								<div class="name"><a class="theme-link" href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Alice Doe</a></div>
							</div>
						</div>
						<div class="content">
							<h3 class="title mb-3">Talk Title Lorem Ipsum</h3>
							<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Conference Room C</div>
							<div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
						</div>
					</div>
					<div class="item item-talk">
						<div class="meta">
							<h4 class="time mb-3">16:30 - 17:30</h4>
							<div class="profile">
								<a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="/static/assets/images/speakers/speaker-8.jpg" alt=""></a>
								<div class="name"><a class="theme-link" href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Thomas Doe</a></div>
							</div>
						</div>
						<div class="content">
							<h3 class="title mb-3">Talk Title Lorem Ipsum</h3>
							<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Conference Room C</div>
							<div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
						</div>
					</div>
					<div class="item item-other">
						<div class="meta">
							<h4 class="time mb-3">18:00 - 24:00</h4>
						</div>
						<div class="content">
							<h3 class="title mb-3">Dinner &amp; After-party</h3>
							<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Bar Lorem Ipsum</div>
							<div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
						</div>
					</div> -->
					
				</div>
				<div class="tab-pane no-timeline" id="tab-2-content" role="tabpanel" aria-labelledby="tab-2">
					<h4 class="text-center py-5 text-muted">Day 1 Agenda Coming Soon...</h4>
				</div>
				<div class="tab-pane no-timeline" id="tab-3-content" role="tabpanel" aria-labelledby="tab-3">
					<h4 class="text-center py-5 text-muted">Day 3 Agenda Coming Soon...</h4>
				</div>
			</div><!--//schedule-tab-content-->
			<!-- <div class="schedule-cta text-center mx-auto"><a href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devconf-free-bootstrap-4-conference-template-for-tech-conferences-and-events/" class="btn btn-primary btn-lg me-md-2 d-block d-md-inline-block mb-3 mb-md-0" target="_blank">Download Schedule</a><a href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devconf-free-bootstrap-4-conference-template-for-tech-conferences-and-events/" class="btn btn-secondary btn-lg d-block d-md-inline-block" target="_blank">Buy Tickets</a></div> -->
		</div><!--//container-->
	</section><!--//schedule-section-->
	
	<section id="tickets-section" class="tickets-section section theme-bg-light">
		<div class="container">
			<h3 class="section-heading text-center mb-3">Registration Details</h3>
			<div class="section-intro single-col-max mx-auto text-center mb-4">For each paper at least one author must register</div>
			
			<div class="row pricing mb-5 justify-content-center">
				<div class="col-12 col-md-4 p-2 p-lg-4">
					<div class="card rounded-0 border-0">
						<div class="card-body p-0">
							<div class="heading  text-center p-3">
								<h4 class="text-white mb-0">For conference proceedings only</h4>
							</div>
							<div class="info p-3">
								<div class="price-figure text-center mb-3"><span class="currency">Rs </span><span class="number">2500/-</span></div>
								<!-- <div class="desc px-3">
									Purchase before 1st Oct. Only 50 tickets available. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
								</div> -->
							</div><!--//info-->
						</div><!--//card-body-->
						<!-- <div class="card-footer text-center">
							<a href="#" class="btn btn-primary disabled">SOLD OUT</a>
						</div> -->
					</div><!--//card-->
				</div><!--//col-->
				<div class="col-12 col-md-4 p-2 p-lg-4">
					<div class="card card-special rounded-0 border-0">
						<div class="card-body p-0">
							<div class="heading  text-center p-3">
								<h4 class="text-white mb-0">For conference proceedings &amp; publications</h4>
							</div>
							<div class="info p-3">
								<div class="price-figure text-center"><span class="currency">Rs </span><span class="number">7000/-</span></div>
								<!-- <div class="desc px-3">
									Purchase before 1st June 2022. Only 100 tickets available. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
								</div> -->
							</div><!--//info-->
						</div><!--//card-body-->
						<!-- <div class="card-footer text-center">
							<a href="#" class="btn btn-primary">Buy Now</a>
						</div> -->
					</div><!--//card-->
				</div><!--//col-->
			
				</div><!--//col-->
			</div><!--//pricing-->
			
			<div class="offers text-center bg-white p-4 p-lg-5">
				<h4 class="mb-3">What's included?</h4>
				<ul class="offers-list list-unstyled d-inline-block mx-auto text-start">
					<li><span class="icon-holder me-2"><i class="fas fa-user-tie"></i></span>6+ talks from industry-leading speakers</li>
					<li><span class="icon-holder me-2"><i class="fas fa-people-carry"></i></span>Access to 2+ workshops</li>
					<li><span class="icon-holder me-2"><i class="fas fa-book"></i></span>Kit</li>
					<li><span class="icon-holder me-2"><i class="fas fa-utensils"></i></span>FREE drinks, Coffee refreshments, lunch and dinner</li>
					<li><span class="icon-holder me-2"><i class="fas fa-tshirt"></i></span>Certification of Participation</li>
				</ul><!--offers-list-->
			</div><!--//offers-->

		</div><!--//container-->
	</section><!--//tickets-section-->
	
	
	<section id="venue-section" class="venue-section section theme-bg-primary text-white">
		<div class="container">
			<h3 class="section-heading text-center mb-5 text-white">Venue</h3>
			<div class="row gx-5 py-lg-5">
				<div class="col-12 col-lg-7 h-100">
					<div class="desc">
						<h4 class="text-white mb-3">How To Get Here</h4>
						<p>The conference will be held at the Seminar Hall, Srinivas Institute of Technology, located in Merlapadavu, Valachil, Mangalore. Situated on a serene 15-acre campus, the venue is easily accessible via various modes of transport.</p>
						
						<div class="row pt-3">
							<div class="col-12 col-md-6 mb-4">
								<div class="grid-item p-4">
									<h5 class="text-white mb-3 title"><i class="fas fa-plane-departure me-2"></i>By Plane</h5>
									<p>The nearest airport is Mangalore International Airport (Bajpe), located approximately 30 km from the venue. Taxis and app-based cab services are available for direct transport to the college.</p>
									<a class="text-white" href="https://www.mangaloreairport.com/">Explore Flights &rarr;</a>
								</div><!--//grid-item-->
							</div><!--col-->
							<div class="col-12 col-md-6 mb-4">
								<div class="grid-item p-4">
									<h5 class="text-white mb-3 title"><i class="fas fa-car me-2"></i>By Car</h5>
									<p>Valachil is located along NH66, approximately 10 km from Mangalore city. Ample parking space is available on campus.</p>
									<a class="text-white" href="https://www.google.com/maps">Check Route &rarr;</a>
								</div><!--//grid-item-->
							</div><!--col-->
							<div class="col-12 col-md-6 mb-4">
								<div class="grid-item p-4">
									<h5 class="text-white mb-3 title"><i class="fas fa-bus-alt me-2"></i>By Bus</h5>
									<p>Frequent buses connect Valachil to major parts of Mangalore city. The college is located near the Valachil bus stop, a short walk from the venue.</p>
									<a class="text-white" href="#">Book Tickets &rarr;</a>
								</div><!--//grid-item-->
							</div><!--col-->
							<div class="col-12 col-md-6 mb-4">
								<div class="grid-item p-4">
									<h5 class="text-white mb-3 title"><i class="fas fa-subway me-2"></i>By Train</h5>
									<p>Mangalore Central and Mangalore Junction (Kankanady) railway stations are the nearest train stations, located approximately 12 km from the venue. Cabs and auto-rickshaws are readily available outside the stations.</p>
									<a class="text-white" href="https://www.irctc.co.in/">Book Tickets &rarr;</a>
								</div><!--//grid-item-->
							</div><!--col-->
						</div><!--//row-->
						<h4 class="text-white mb-4 mt-3 mt-lg-5">Facilities &amp; Accommodations</h4>
						<p>The campus offers a well-equipped seminar hall with modern amenities, ensuring a conducive environment for learning and collaboration. Nearby accommodations are available for participants, ranging from budget hotels to premium stays in Mangalore city.</p>
					
					</div><!--//desc-->
				</div><!--//col-->
				<div class="col-12 col-xl-3 col-lg-4 offset-lg-1 position-relative h-100 mt-5 mt-lg-0">
					<div class="figures-holder">
						<div class="figure figure-1"><img class="shadow" src="/static/assets/images/venue/venue-1.jpg" alt="Seminar Hall"></div>
						<div class="figure figure-2"><img class="shadow" src="/static/assets/images/venue/venue-2.jpg" alt="Seminar Hall"></div>
						<div class="figure figure-3"><img class="shadow" src="/static/assets/images/venue/venue-3.jpg" alt="SIT Campus"></div>
						<div class="figure figure-4"><img class="shadow" src="/static/assets/images/venue/venue-4.jpg" alt="Mangalore City"></div>
					</div><!--//figures-holder-->
				</div><!--//col-->
			</div><!--//row-->
		</div><!--//container-->
	</section><!--//venue-section-->
	

	<section id="sponsors-section" class="sponsors-section section">
		<div class="container">
			<h3 class="section-heading text-center mb-3">Sponsors &amp; Partners</h3>
			<div class="section-intro text-center single-col-max mx-auto mb-5">Want to become a sponsor? Get in touch lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat magna eu accumsan mattis.</div>
			<div class="row logos justify-content-center">
				<div class="logo-item col-6 col-md-4 col-lg-2"><img src="/static/assets/images/logos/logo-1.svg" alt=""></div>
				<div class="logo-item col-6 col-md-4 col-lg-2"><img src="/static/assets/images/logos/logo-2.svg" alt=""></div>
				<div class="logo-item col-6 col-md-4 col-lg-2"><img src="/static/assets/images/logos/logo-3.svg" alt=""></div>
				<div class="logo-item col-6 col-md-4 col-lg-2"><img src="/static/assets/images/logos/logo-4.svg" alt=""></div>
				<div class="logo-item col-6 col-md-4 col-lg-2"><img src="/static/assets/images/logos/logo-5.svg" alt=""></div>
				<div class="logo-item col-6 col-md-4 col-lg-2"><img src="/static/assets/images/logos/logo-6.svg" alt=""></div>
				<div class="logo-item col-6 col-md-4 col-lg-2"><img src="/static/assets/images/logos/logo-7.svg" alt=""></div>
				<div class="logo-item col-6 col-md-4 col-lg-2"><img src="/static/assets/images/logos/logo-8.svg" alt=""></div>
				<div class="logo-item col-6 col-md-4 col-lg-2"><img src="/static/assets/images/logos/logo-9.svg" alt=""></div>
				<div class="logo-item col-6 col-md-4 col-lg-2"><img src="/static/assets/images/logos/logo-10.svg" alt=""></div>
				<div class="logo-item col-6 col-md-4 col-lg-2"><img src="/static/assets/images/logos/logo-11.svg" alt=""></div>
				<div class="logo-item col-6 col-md-4 col-lg-2"><img src="/static/assets/images/logos/logo-12.svg" alt=""></div>
			</div><!--//row-->
			<div class="sponsors-cta text-center pt-5"><a class="btn-primary btn btn-lg" href="#">Become A Sponsor</a></div>
		</div><!--//container-->
	</section><!--//sponsors-section-->

	<footer class="footer py-5 theme-bg-primary">
		<div class="container text-center">
			
			<ul class="social-list list-inline mb-4"> 
				<li class="list-inline-item me-3"><a href="#"><i class="fas fa-envelope"></i></a></li>
				<li class="list-inline-item me-3"><a href="#"><i class="fa-brands fa-x-twitter fa-fw"></i></a></li>
				<li class="list-inline-item me-3"><a href="#"><i class="fa-brands fa-instagram fa-fw"></i></a></li>
				<li class="list-inline-item me-0"><a href="#"><i class="fa-brands fa-youtube fa-fw"></i></a></li>
			</ul><!--//social-list-->
			
			
			<ul class="footer-links list-inline mx-auto mb-4">
				<li class="list-inline-item"><a href="#">Code of Conduct</a></li>
				<li class="list-inline-item">|</li>
				<li class="list-inline-item"><a href="#">Terms</a></li>
				<li class="list-inline-item">|</li>
				<li class="list-inline-item me-0"><a href="#">Privacy</a></li>
			</ul><!--//footer-link-->
			
			 <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
			<small class="copyright">Designed with <i class="fas fa-heart" style="color: #EC645E;"></i> by <a href="http://github.com/PrathamPShetty" target="_blank">Pratham P Shetty</a> </small>
			
		</div><!--//container-->	    
	</footer>

	<!-- Modal Speaker -->
	<div class="modal modal-speaker modal-speaker-1" id="modal-speaker-1" tabindex="-1" role="dialog" aria-labelledby="speaker-1-ModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 id="speaker-1-ModalLabel" class="modal-title sr-only"
>Speaker Name</h4>
				</div>
				<div class="modal-body p-0">
					<div class="theme-bg-light p-5">
						<div class="row">
							<div class="col-12 col-md-auto text-center">
							    <img class="profile-image mb-3 mb-md-0 me-md-4 rounded-circle mx-auto" src="/static/assets/images/speakers/speaker-1.jpg" alt="" />
							</div>
							
							<div class="col text-center text-md-start mx-auto">
								<h2 class="name mb-2">Speaker Name</h2>
								<div class="meta">Job Title Or Position</div>
								<div class="meta mb-2">Company Or Organization</div>
								<ul class="social-list list-inline mb-0">								
									<li class="list-inline-item"><a  href="#"><i class="fa-brands fa-x-twitter fa-fw"></i></a></li>
									<li class="list-inline-item"><a  href="#"><i class="fa-brands fa-linkedin-in fa-fw"></i></a></li>
									<li class="list-inline-item"><a  href="#"><i class="fa-brands fa-github fa-fw"></i></a></li>
								</ul><!--//social-list--> 
							</div><!--//col-->
						</div><!--//row-->
					</div>
				</div><!--//modal-body-->
			</div><!--//modal-content-->
		</div><!--//modal-dialog-->
	</div><!--//modal-->
	
	<!-- Javascript -->          
	<script src="/static/assets/plugins/popper.min.js"></script>
	<script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>  
	<script src="/static/assets/plugins/smoothscroll.min.js"></script>
	<script src="/static/assets/plugins/gumshoe/gumshoe.polyfills.min.js"></script> 
	<script src="/static/assets/js/main.js"></script>  

</body>
</html> 

